body{
     background-color:rgb(255, 255, 255);
    color:black;
    font-family: 'Roboto Condensed', sans-serif;
}

p{
    color:black;
    font-size: 20px;
}

h1{
    color:gold
}

#primeiro{
   color:red;
   font-size: 16px;
   font-weight: 700;
}   
#banner{
  width: 100%;

}
#regras{
    font-family: 'Bebas Neue', sans-serif;
}
#fundamentos{
    font-family: 'Bebas Neue', sans-serif;
}
#conteudo{
    display: flex;
    margin-left: 190px;
}
#banner2{
    margin-left: 200px;
}