body{
     background-color:white;
    color:black;
    font-family: 'Roboto Condensed', sans-serif;
}

p{
    color:azure;
    font-size: 20px;
}

h1{
    color:gold
}

#primeiro{
   color:aquamarine;
   font-size: 16px;
   font-weight: 700;
}